.Estadísticas{
  background-color: rgba(0, 0, 0, 0.295);
}

.postsScroll{
  height: 1300px;
  overflow-y: scroll;
}

#posts, #userss{
  border: solid 1px white;
}

.bgPos{
  background-color: #1f1f1f
}

.contenidoPost{
  overflow: hidden
}