.Estadísticas{
  background-color: rgba(0, 0, 0, 0.295);
}

.postsScroll{
  height: 1300px;
  overflow-y: scroll;
}

#posts{
  border: solid 1px white;
}

.bgPos{
  background-color: #0a2647
}

.modal-content, .swal2-modal{
	background-color: #133c689f !important;
	color: #fff !important;
	border: rgba(128, 128, 128, 0.491) 2px solid !important;
}

.contenidoPost{
  overflow: hidden
}