*{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  scrollbar-width: auto;
  scrollbar-color: #3ca3c3 rgb(64, 64, 64);
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: rgb(64, 64, 64);
}

*::-webkit-scrollbar-thumb {
  background-color: #3ca3c3;
  border-radius: 10px;
  border: 1px solid #3ca3c3;
}

.bodyBgDark{
  background: linear-gradient(rgba(0,0,0,.60) 0%, rgba(0,0,0,.60) 100%), url(../assets/bgDark.jpg);
  background-position: center center;
}

.bodyBgLight{
  background: linear-gradient(rgba(0,0,0,.52) 0%, rgba(0,0,0,.50) 100%), url(../assets/bgLight.jpg);
  background-position: center center;
}

.navBgDark{
  background-color: #1c1c1c;
  border-bottom: solid 2px  rgb(53, 53, 53);
}

.navBgLight{
  background-color: #00063ff0;
  border-bottom: solid 2px  rgb(53, 53, 53);
}

.bgCards{
  background-color: #272727;
}

.bgCardsLight{
  background-color: #c8c8c8;
  border: 1px solid black;
}

.bgCardsGrad{
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(58, 58, 58) 100%, rgb(17, 17, 17) 100%);;
}

.bgCardsGradLight{
  background: linear-gradient(0deg, rgb(107, 107, 107) 0%, rgb(230, 230, 230) 100%, rgb(107, 107, 107) 100%);;
}

.botones{
  background-color:#3a3a3a;
  color: #fff;
  border: solid rgba(193, 193, 193, 0.196) 1px;
}

.botones:hover{
  border: solid 0.5px #fff;
  color: #fff;
}

footer{
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(52, 52, 52) 100%);
  border-top: solid 2px  rgb(86, 86, 86);
}

.redIcon img{
  filter: drop-shadow(#ffffffad 0px 0px 2px);
}

.redIcon{
  color: #616161;
}

.redIcon:hover{
  transform: scale(1.1);
  transition: transform .3s;
  color: #fff;
}

.modal-content, .swal2-modal{
	background-color: #0000009f !important;
	color: #fff !important;
	border: rgba(128, 128, 128, 0.491) 2px solid !important;
}

.interruptor{
  position: relative;
  width: 80px;
  height: 40px;
  background: #212121;
  border-radius: 30px;
  box-shadow: 0px 0px 5px rgb(88, 101, 248);
}

.interruptor input{
  appearance: none;
}

.interruptor span{
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: rgb(255, 255, 255);
  border: 6px solid #212121;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moon{
  filter: drop-shadow(0px 0px 4px #fff);
  width: 20px;
  height: 20px;
}

.interruptor input:checked ~ span{
  left: 40px;
  background: #333;
  color: white;
}