*{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  scrollbar-width: auto;
  scrollbar-color: #3ca3c3 rgb(64, 64, 64);
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: rgb(64, 64, 64);
}

*::-webkit-scrollbar-thumb {
  background-color: #3ca3c3;
  border-radius: 10px;
  border: 1px solid #3ca3c3;
}

body{
  background-color: #161616;
}

nav{
  background-color: #1c1c1c;
  border-bottom: solid 2px  rgb(53, 53, 53);
}

.bgCards{
  background-color: #272727;
}

.bgCardsGrad{
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(58, 58, 58) 100%, rgb(17, 17, 17) 100%);;
}

.botones{
  background-color:#3a3a3a;
  color: #fff;
  border: solid rgba(193, 193, 193, 0.196) 1px;
}

.botones:hover{
  border: solid 0.5px #fff;
  color: #fff;
}

footer{
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(52, 52, 52) 100%);
  border-top: solid 2px  rgb(86, 86, 86);
}

.redIcon img{
  filter: drop-shadow(#ffffffad 0px 0px 2px);
}

.redIcon{
  color: #616161;
}

.redIcon:hover{
  transform: scale(1.1);
  transition: transform .3s;
  color: #fff;
}

.modal-content, .swal2-modal{
	background-color: #0000009f !important;
	color: #fff !important;
	border: rgba(128, 128, 128, 0.491) 2px solid !important;
}